@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color:black ;
  color: white;
    overflow-x: hidden;
}

@font-face {
  font-family: 'Savo-3D';
  src: url(../font/Northstar3D-4D3x.otf) format('opentype');
}
@font-face {
  font-family: 'Savo-bold';
  src: url(../font/NorthstarBold-mdWa.otf) format('opentype');
}
@font-face {
  font-family: 'Savo-out';
  src: url(../font/NorthstarOutline-waw8.otf) format('opentype');
}
@font-face {
  font-family: 'Savo-reg';
  src: url(../font/NorthstarRegular-9lEy.otf) format('opentype');
}

.savo-3d{
  font-family: 'Savo-3D' ,sans-serif ;
}
.savo-bold{
  font-family: 'Savo-bold',sans-serif;
}
.savo-out{
  font-family: 'Savo-out' ,sans-serif;
}
.savo-reg{
  font-family: 'Savo-reg' ,sans-serif ;
}
.tektur{
  font-family: 'Tektur', cursive;
}
.nice{
  font-family: 'Exo', sans-serif;
}


.mtext{
  animation: slide 30s linear infinite;
}
.mtext:after{
  content: ": C++ : JAVA : HTML : CSS : JAVASCRIPT : REACT : NEXT : NODE : EXPRESS : MONGODB : SQL";
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
    
  }
}

.wrap{
  transition: ease-in .5s ;
  transform: translateY(-100%);
}
.unwrap{
  transition:ease-out .5s;
  transform: translateY(0);
}

@media screen and (max-width : 300px) {
  .tt{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}