 @keyframes uplift {
    from{
        transform: translateY(100vh);
    }
    to{
        transform: translateY(0vh);
    }
}

.up{
    animation: up 1s infinite;
}

@keyframes up {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fuse {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}