 @keyframes uplift {
    from{
        transform: translateY(100vh);
    }
    to{
        transform: translateY(0vh);
    }
}

.up{
    animation: up 1s infinite;
}

@keyframes up {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

@keyframes fuse {

    to{
        transform: translateX(120%);
    }
}